// Variables
$base-text: #000;
$base-text-white: #fff;
$bg-base-app:#fff;

// Header
$bg-base-header:#e8f0f2;
$color-burguer-icon: #090909;
$color-paragraph: #8F8F8F;

// Footer
$bg-base-footer: #f8f8f8;
$color-base-footer: #bbb;
$color-footer-links: #909090;
$bg-input-email: $bg-base-footer;
$color-input-email: #e5e5e5;
$color-input-email-placeholder:#c2c3c5;

// Buttons
$bg-base-add-cart-btn: #e6395e;
$bg-base-disabled-btn: #c6c6c6;

// Misc
$bg-base-overlay:#777;

// Errors
$base-error : #FF3E2C;

// Success
$base-primary-success: #49c747;

// Breakpoints
$breakpoint-min-width: '1025px';

